<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/sse.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>HTMX Crash Course</title>
</head>
<body>
    <script>
    htmx.logger = function(elt, event, data) {
        if(console) {
            console.log(event, elt, data);
        }
    }        
    htmx.logAll();
    </script>

    <button class="bg-blue-500 text-white py-2 px-3 my-5 rounded-lg" id="sse-2" hx-ext="sse" hx-sse-connect="/chart-data">chartdata</button>

    <button id="myButton" hx-get="/process" hx-trigger="click" hx-vals='{"callerId": "myButton"}'> test callerId </button>


    <button class="bg-blue-500 text-white py-2 px-3 my-5 rounded-lg">
        <img src="svg/puff.svg" />
    </button>

        <div class="text-center">
        <h1 class="text-2xl font-bold my-5">Simple Request Example</h1>

        <button class="bg-blue-500 text-white py-2 px-3 my-5 rounded-lg"
        hx-get="/table_rows"
        hx-target="#table1-body"
        hx-swap="beforeend"
        hx-trigger="click"
        id="TableButton1"
        hx-vals='{"callerId": "TableButton1", "table":"1" }'        
        >Fill Table 1</button>

        <button class="bg-blue-500 text-white py-2 px-3 my-5 rounded-lg"
        hx-get="/table_rows"
        hx-target="#table2-body"
        hx-swap="beforeend"
        hx-trigger="click"
        id="TableButton2"
        hx-vals='{"callerId": "TableButton2", "table":"2" }'        
        >Fill Table 2</button>

        <button class="bg-blue-500 text-white py-2 px-3 my-5 rounded-lg"
        hx-get="/table_rows"
        hx-target="#table3-body"
        hx-swap="beforeend"
        hx-trigger="click"
        id="TableButton3"
        hx-vals='{"callerId": "TableButton3", "table":"3" }'        
        >Fill Table 3</button>

    </div>

    <p class="text-2xl font-bold mb-4">First Movie List</p>
    <table class="min-w-[50%] mb-4" 
    hx-get="/table_rows"
    hx-target="#table1-body"
    hx-swap="beforeend"
    hx-trigger="click"
    id="Table1"
    hx-vals='{"callerId": "Table1", "table":"1", "length":"5" }'        
    >
        <thead class="border-b text-lg">
            <tr>
                <th class="border">Film Name</th>
                <th class="border">Director</th>
            </tr>
        </thead>

        <tbody class="text-center text-sm" id="table1-body">
            {% include 'table.html'   %}
        </tbody>
    </table>

    <p class="text-2xl font-bold mb-4">Second Movie List</p>
    <table class="min-w-[50%] mb-4" 
    hx-get="/table_rows"
    hx-target="#table2-body"
    hx-swap="beforeend"
    hx-trigger="click"
    id="Table2"
    hx-vals='{"callerId": "Table2", "table":"2", "length":"5" }'        
>
        <thead class="border-b text-lg">
            <tr>
                <th class="border">Film Name</th>
                <th class="border">Director</th>
            </tr>
        </thead>

        <tbody class="text-center text-sm" id="table2-body">
            {% include 'table.html'   %}
        </tbody>
    </table>

    <p class="text-2xl font-bold mb-4">Movie List, different endpoint</p>
    <table class="min-w-[50%] mb-4" 
    hx-get="/table_rows"
    hx-target="#table3-body"
    hx-swap="beforeend"
    hx-trigger="click"
    id="Table3"
    hx-vals='{"callerId": "Table3", "table":"3", "length":"5" }'        
    >
        <thead class="border-b text-lg">
            <tr>
                <th class="border">Film Name</th>
                <th class="border">Director</th>
            </tr>
        </thead>

        <tbody class="text-center text-sm" id="table3-body">
            {% include 'table.html'   %}
        </tbody>
    </table>

    <ul class="bg-blue-500 text-white py-2 px-3 my-5 rounded-lg" 
    hx-get="/fruit_ul"
    hx-swap="beforeend"
    id="listbox1"
    hx-vals='{"callerId": "listbox1", "length":"5" }'        
    >
        {% include 'listelements.html'   %}
    </ul>

    <ul class="bg-blue-500 text-white py-2 px-3 my-5 rounded-lg" 
    hx-get="/fruit_ul"
    hx-swap="beforeend"
    id="listbox2"
    hx-vals='{"callerId": "listbox2", "length":"5" }'        
    >
    {% include 'listelements.html'   %}
    </ul>


</body>
</html>